$chs-white: #ffffff;

$chs-black: #222;
$chs-blue: #021E34;
$chs-bluelight: #dbecf8;
$chs-disabledBlue: #BCC3C8;

$chs-bluegray: #36414F;

$chs-secondary: #0B69B1;

$chs-graystrong: #76838f;
$chs-graystronghover: #424D5A;

$chs-green: #2DAD2A;

$chs-graydisabled: #BCBCBC;

$chs-gray: #DDDBDA;

$chs-accent: #ECBE49;
$chs-accentpastel: #FCE29F;

$chs-border: #E0E0E0;

$chs-success: #58BF84;

$chs-error: #E6492D;
$chs-errorfill: #F8E8E5;

